/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  line-height: 1.8em;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-spacing: 0;
}

/* Custom */
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #222;
}

a {
  color: rgb(0, 132, 180);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: rgba(0, 132, 180, 0.5);
}

strong, .user {
  font-weight: 700;
}

header {
  padding: 1em;
  position: relative;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

input, textarea, button {
  display: inline-block;
  padding: 0.5em 1em;
  border: 1px solid rgba(0, 132, 180, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

label {
  display: block;
  font-weight: 700;
}

.btn {
  color: #fff;
  cursor: pointer;
  background: rgb(0, 121, 165);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

button:hover {
  opacity: 0.5;
}

.alerts {
  position: relative;
}

.tweet {
  opacity: 0;
  padding: 1em;
  display: block;
  border-top: 1px dotted rgba(0, 132, 180, 0.5);
}

.blue {
  background: rgb(232, 249, 255);
}

#more-tweets {
  cursor: pointer;
  font-size: 0.8em;
  padding: 0.5em 1em;
  background: #ffffcc;
  border-top: 1px solid rgb(255, 240, 158);
}

#clear-filter {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0.5em;
  font-size: 0.7em;
}

.smalltext {
  font-size: 0.7em;
}

.message {
  font-weight: 300;
  font-size: 1.4em;
}

#tweet-writer {
  display: none;
  position: relative;
  padding: 2em;
  background: rgb(225, 219, 255);
  border-top: 1px dotted rgb(174, 158, 255);
}

.close-btn {
  position: absolute;
  right: 1em;
  top: 1em;
}

.toggle-btn {
  position: absolute;
  right: 1em;
  top: 2em;
}
